<h1> {{ pageTitle }} </h1>
<p></p>
<h2>Why?</h2>
<div class="grid-row">
  <div>Choose which farming practices you want to support with your existing food budget</div>
  <div>Know who benefits when you spend your hard earned dollars</div>
  <div>Easily identify the impact of your food choices on climate, business owners, and the farm and food processing workers</div>
  <div>Encourage transparency by supporting OpenFood initiatives in your community</div>

</div>
  <h2>How can I participate?</h2>

  <div class="grid-container">
    <div class="item1"><button class="btn-primary">Survey</button></div>
    <div class="item2Wide">Take a short survey to tell us what's important to you!</div>
    <div class="item1"><button class="btn-primary">Register</button></div>
    <div class="item2Wide">Register for Email Updates!</div>
    <div class="item1"><button class="btn-primary">Eat</button></div>
    <div class="item2Wide">Locate Registered OpenFood Restaurants and Grocery Stores</div>
    <div class="item1"><button class="btn-primary">Shop</button></div>
    <div class="item2Wide">Locate CSAs and FarmStands</div>
  </div>

  <!--<li><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
  <li><strong>Angular CLI integration</strong>. In development mode, there's no need to run <code>ng serve</code>. It runs in the background automatically, so your client-side resources are dynamically built on demand and the page refreshes when you modify any file.</li>
  <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and your <code>dotnet publish</code> configuration automatically invokes <code>ng build</code> to produce minified, ahead-of-time compiled JavaScript files.</li>-->
  <!--<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>-->
  <p>References</p>
  <ul>
    <li> <a href="https://en.wikipedia.org/wiki/Open_data">Open Data</a> is a way to share information, particularly active here in <a href="https://data-ral.opendata.arcgis.com/">Open Data Raleigh</a></li>
    <li> <a href="https://en.wikipedia.org/wiki/Open_source">Open Source</a> is one way for software developers to share interactions with Open Data. See <a href="https://brigade.codeforamerica.org/brigades/Open-NC-Collaborative/">Open NC Collaborative</a></li>
  </ul>
